*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #efddc4; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem 1rem;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
